
.type{
    width: 100%;
    align-content: center;
    background-color: rgb(66, 62, 190);
    text-align: center;
    font-family: "Roboto Slab ExtraLight";
}

.Cards{
    background-color: rgb(66, 62, 190);
    align-items: center;
    align-self: center;
    align-content: center;
    position: center;
    child-align: middle;
}
.page-footer{
    background-color: #4543bd;
}
.footer-copyright{
    color:white;
    background-color: rgb(104, 97, 223);
}
.greet{
    text-align: center;
    background-color: #522ee1;
    color: white;
    padding: 10px;
}

